body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000000;
}
   
h1 {
    font-family: 'Courier New', monospace;
    color: #00FF00; /* Verde fosforescente */
}
   
h2 {
    font-family: 'Brush Script MT', cursive;
    color: #0000FF; /* Azul fosforescente */
}
   
p {
    font-family: 'Trebuchet MS', sans-serif;
    color: #FFFFFF; /* Blanco fosforescente */
    text-align: center;
}
  